# MySQL 테이블 생성 및 데이터 입력 방법

In [1]:
!pip install pymysql > /dev/null

from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving mysql.json to mysql.json

In [2]:
import json
with open(filename) as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [3]:
import pymysql
conn = pymysql.connect(
    host=config['host'], 
    user=config['user'], 
    password=config['password'], 
    database=config['database'], 
    port=config['port']
)

## 테이블 생성

In [4]:
cur = conn.cursor()
sql_user = '''
    create table if not exists users (
        uid varchar(20) not null primary key,
        pwd char(44) not null,
        uname varchar(20) not null,
        email varchar(40),
        reg_date datetime default current_timestamp,
        is_deleted int default 0
    );
'''

In [5]:
cur.execute(sql_user)

0

## 데이터 추가

In [6]:
cur = conn.cursor()
sql_insert = '''
INSERT INTO users(uid, pwd, uname) VALUES('admin', '1234', '관리자');
'''
cur.execute(sql_insert)

1

In [7]:
sql_select = 'select * from users;'
cur.execute(sql_select)
row = cur.fetchone()

In [8]:
row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 25, 13, 28, 37), 0)

In [9]:
# 데이터를 하드 디스크에 쓰게 하는 명령
conn.commit()           # 이거 안하면 하이디SQL에서 안보임

- 여러 건의 데이터 추가

In [10]:
sql_multi_insert = '''
    INSERT INTO users(uid, pwd, uname) VALUES
        ('eskim', '1234', '김은숙'), ('wjlee', '5678', '이우정');
        '''

In [11]:
cur.execute(sql_multi_insert)
conn.commit()

- Placeholder

In [14]:
sql_insert_ph = "INSERT INTO users(uid, pwd, uname) VALUES(%s, '1234', %s);"
uid, uname = 'djy', '대조영'
cur.execute(sql_insert_ph, (uid, uname))
conn.commit()

- 여러 건의 데이터를 placeholder를 이용해서 insert

In [15]:
users = (('gdhong', '홍길동'), ('jbpark', '박재범'))
cur.executemany(sql_insert_ph, users)
conn.commit()

In [16]:
# 추천방법
users = (('gdhong2', '홍길동2'), ('jbpark2', '박재범2'))
for user in users:
    cur.execute(sql_insert_ph, user)
conn.commit()

## 마무리

In [17]:
cur.close()
conn.close()